{%extends 'layout.html'%}

{%block content%}
{% import "_macros.html" as macros %}
<h1>Empleados</h1>
<h4><a href="/modificar">Modificar</a></h4>
<form action="" method="post" novalidate>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{{macros.render_field(form.id, class="form-control")}}
{{macros.render_field(form.nombre, class="form-controls")}}
{{macros.render_field(form.correo)}}
{{macros.render_field(form.telefono)}}
{{macros.render_field(form.direccion)}}
{{macros.render_field(form.sueldo)}}
<input type="submit" name="modificar" value="modificar" id="modificar">
</form>


{%endblock%}